<!DOCTYPE html>
<html>
<head>
	<title>EJS Test</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	
	<%
		var title = "My EJS Test";
	%>

	<h1><%= title %></h1>
	<p>let's test this out.</p>
</body>
</html>