<!DOCTYPE html>
<html>
<head>
	<title>EJS Test</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	
	<%
		var title = "My EJS Page";

		// name array

		var names = [ "Jason", "Tamara", "Andrew", "Shannon", "Roger", "Melinda" ];

		// generate random number to choose a name

		var random = Math.floor(Math.random() * names.length);

		// pull random name

		var name = names[random];
	%>

	<h1><%= title %></h1>
	<p>Hello, my name is <b><%= name %></b></p>
	<p>Something conditional.</p>
	<p>For the record my name has
	<% if ( name.length >= 6 ) { %>

		<span>6 or more letters</span>

	<% } else { %>
		<span>less than 6 letters</span>
	<% } %>
	</p>
</body>
</html>